

<div class="container m-5" id="maindiv">
    <form action="/admin" method="post">
        <div class="mb-3">
            <div >
            <h3 >Insert admin credentials</h3>
            <hr>
            </div>
            <label for="mailAdmin" class="form-label text center">Mail Admin</label>
            <input type="mail" class="form-control" id="mailAdmin" name="mailAdmin" autofocus="autofocus" required>
            
        </div>
        <div class="mb-3 text center" >
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="mb-3 ">
            <button type="submit" class="btn btn-success w-30">Submit</button>
        </div>
    </form>
</div>