

<div class="container m-5">
    <form action="/contact" method="post">
        <div class="mb-3">
            <div >
            <h3 >Suscribing to short D news!!</h3>
            <hr></div>
            <label for="username" class="form-label">Name</label>
            <input type="text" class="form-control" id="username" name="username" autofocus="autofocus" required>
        </div>
        <div class="mb-3 ">
            <label for="mail" class="form-label">Mail</label>
            <input type="mail" class="form-control" id="mail" name="mail" required>
        </div>
        <div class="mb-3    ">
            <button type="submit" class="btn btn-success w-30">Submit</button>
        </div>
    </form>
</div>
