
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Lato:wght@300&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="style.css">

  <body > 
    
  <div class="focus-in-contract-bck"  >
    <h1>from grain,</h1>
  </div>
  
  <div>
    <img src="../assets/img/hero-bg.jpg" alt="" class="swirl-in-bck">
  </div>

<div class="focus-in-contract-bck2"  >
    <h1>to the brain!</h1>
  </div>

  </body>

  