
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Lato:wght@300&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="style.css">

  <body >
  
  <div class="text_wrapper" >
    <h1>short D, from grain to the brain!</h1>
  </div>


  </body>

  