<div class="container text-bg-success">
    <h1>You are now logged as administrator!</h1>
</div>

<hr>
<div class="p-5 container align-content-center">
<a class="btn btn-primary" href="update" role="button">Update or Delete Styles</a>
</div>

<div class="p-5 container align-content-center">
<a class="btn btn-primary" href="add" role="button">Add Styles</a>
</div>