<meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>


<div class="onerow" style="margin-bottom: 0px;">
   <div class="col12">
      <table class="table">
         <thead>
            <tr>
            <th class="t-left">Styles</th>
            <th>20 liters</th>
            <th>30 liters</th>
            <th>50 liters</th>
            </tr>
         </thead>
   <tbody>
   <tr>
      <td class="t-left">Golden, Kolsch</td>
      <td>$ 9400</td>
      <td>$ 12500</td>
      <td>$ 19300</td>
   </tr>
   <tr>
      <td class="t-left">Amber</td>
      <td>$ 10900</td>
      <td>$ 14300</td>
      <td>$ 22300</td>
      </tr>
      <tr>
      <td class="t-left">Hazy IPA</td>
      <td>$ 13800</td>
      <td>$ 19700</td>
      <td>$ 30900</td>                               
      </tr>
   </tbody>
</table>
</div>
</div>

<div class="container-fluid">
   <p> - Service includes equipment instalation, ice and chosen beer.</p>
            
   <p> - Ask for delivery rates according to your location.</p>

   <p> - Payment via: cash, credit / debit card.</p>
            
   <p> - Call to make reservations or via  Whatsapp </p>
   
   <div class="text center p-4  align-middle" >
      <img src="../assets/img/whatsapp.svg" alt="">
      <a href=" https://wa.me/5491154657552" target="_blank" id="wzp"> 11.5465.7552 </a>
    </div>
   
</div>

