<meta name='viewport' content='width=device-width, initial-scale=1'> 
<link rel="stylesheet" href="../assets/css/style.css">

<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<div class="container text-center m-4">
    <hr>
    <i style='font-size:24px' class='fas'>&#xf0fc;</i>
    <h1>
       Styles Brewed
    </h1>
    <hr>
</div>

<table class="table container" id="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Style</th>
        <th scope="col">IBUs</th>
        <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        {{#each datos}}
        <tr>
        <th scope="row">{{ idStyle }}</th>
        <td>{{ nameStyle }}</td>
        <td>{{ ibusStyle }}</td>
        <td>{{ descriptionStyle }}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
